*{
    font-family: 'Nunito', sans-serif;
}
label{
    font-weight: 700;
}
.titulo-login{
    font-size: 2rem;
    margin-top: 10px;
    margin-bottom: 30px;
    font-weight: 700;
    color:rgb(134, 134, 134);
    text-align: center;
}

body{
    /* background-color: #03A696; */
    background: url(../img/bg.jpg)no-repeat right top fixed;
    background-clip: content-box;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
.loginCadastro {
    background-color: rgba(0, 0, 0, 0);
    height: 100vh;
}
.imagem> img{
    width: 100%;
}
.fundo{
    background-color: #ffffff;;
    padding: 20px;
    margin: 2%;
    border-radius: 5px;
}
.logo-name{
    margin-bottom: 5%;
}